@font-face {
  font-family: 'Droid Serif';
  src: url('fonts/DroidSerif.ttf');
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-size: .65cm;
}

body {
    color: #fff;
    background: no-repeat center center fixed url("images/mountains.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

canvas {
    height: 100%;
    width: 100%;
}

/* Links */
a {
    color: #fff;
    text-decoration: none;
    text-shadow: .5px .5px 1px #000;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: .5rem;
    list-style: none;
    position: fixed;
    top: 1rem;
}

li {
    line-height: 1.2rem;
}

ul.left {
    margin-right: 50%;
    text-align: right;
    right: 0;
    border-right: 1px dotted #eee;
}
ul.right {
    margin-left: 50%;
    text-align: left;
    left: 0;
}

/* Clock */
.clock {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

sup {
    font-size: .7em;
}

.clock div {
    text-align: center;
    text-shadow: .07em .07em 0em #666, .16em .16em 0em #333;
}

#time {
    font-family: 'Droid Serif', serif;
    font-size: 3.5rem;
    text-shadow: .07rem .07rem 0rem #666, .16rem .16rem 0rem #333;
}

#time .faded:nth-child(2) {
    display: inline-block;
    margin-left: .15em;
}

.clock .faded {
    font-size: .9em;
    opacity: 0.3;
}
