[user]
    name = Daniel Bergmann
    email = brgmnn@users.noreply.github.com

[core]
    editor = vim
    excludesfile = ~/.config/git/ignore

[color]
    diff = true
    ui = true
    branch = true

[push]
    default = current

[help]
    autocorrect = 1

[log]
    abbrevCommit = true
    decorate = true
    date = relative

[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative \
        --format=format:'%C(bold blue)%h%C(reset) - \
        %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- \
        %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate \
        --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) \
        %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)\
        %n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    merge-upstream = !git fetch upstream && git checkout master \
        && git rebase upstream/master

[svn]
    rmdir = true

[diff]
	tool = vimdiff

[difftool]
    prompt = false

[url "git@github.com:"]
    insteadOf = github:

[include]
    path = ~/.gitconfig.local
