[user]
    name = Daniel Bergmann
    email = brgmnn@users.noreply.github.com
[core]
    editor = vim
    excludesfile = ~/.config/git/ignore
[color]
    diff = true
    ui = true
    branch = true
[pull]
    ff-only = true
[push]
    default = current
[help]
    autocorrect = 1
[log]
    abbrevCommit = true
    decorate = true
    date = relative
[svn]
    rmdir = true
[diff]
	tool = vimdiff
[difftool]
    prompt = false
[url "git@github.com:"]
    insteadOf = github:

[alias]
    lg2 = log --graph --abbrev-commit --decorate \
        --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) \
        %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)\
        %n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !bash -c git-lg
    merge-upstream = !git fetch upstream && git checkout master \
        && git rebase upstream/master
    su   = !git submodule update
    nuke = !git reset --hard HEAD && git clean -f -d
    unstage = reset
    rm-all = !git ls-files --deleted -z | xargs -0 git rm

[include]
    path = ~/.gitconfig.local
