# Ignore vim swap files
*.log
*.swp
*~
vim/.vim/.netrwhist
vim/.vim/backup
vim/.vim/bundle/*
vim/.vim/plugs/*
vim/.vim/spell/*.spl
vim/.vim/spell/*.sug
vim/.vim/undo

# Neovim files
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/.shada
neovim/.config/nvim/plugs/*

# Fish paths
fish/.config/fish/plugins/

# Ignore likely places for sensitive information
.ssh/*
ssh/*
